In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data_train = pd.read_csv("../data/miRNA/miRNA_raw_data_TCGA_BRCA_CirielloSet_grch38.csv", sep=";")
data_test = pd.read_csv("../data/miRNA/miRNA_raw_data_TCGA_BRCA_PanCATestSet_grch38.csv", sep=";")
mirna_raw_no_brca = pd.read_pickle("../data/miRNA_raw_no_brca.pkl")

In [3]:
data_train.tail()

,TCGA ID,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,...,hsa-mir-941-5,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_train = data_train.head(817)

In [5]:
data_train.tail(5)

,TCGA ID,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,...,hsa-mir-941-5,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
812,TCGA-MS-A51U,42711.0,42884.0,42726.0,87405.0,12676.0,1290.0,4171.0,13746.0,13777.0,...,0.0,16.0,0.0,11.0,16.0,0.0,90.0,138.0,3142.0,113217.0
813,TCGA-OL-A66H,69612.0,69319.0,70115.0,135063.0,3384.0,1651.0,3885.0,14325.0,14324.0,...,0.0,24.0,0.0,1.0,2.0,0.0,234.0,197.0,1191.0,103254.0
814,TCGA-OL-A66I,35516.0,35602.0,35661.0,47265.0,6915.0,4108.0,4831.0,20180.0,20814.0,...,0.0,35.0,0.0,6.0,17.0,0.0,120.0,529.0,2125.0,123808.0
815,TCGA-OL-A66J,60583.0,60420.0,61814.0,105751.0,15047.0,2270.0,6602.0,12153.0,12373.0,...,0.0,8.0,0.0,6.0,14.0,0.0,83.0,203.0,3909.0,159406.0
816,TCGA-OL-A66K,56383.0,56372.0,56150.0,128559.0,18995.0,1964.0,3951.0,13023.0,13443.0,...,0.0,4.0,0.0,6.0,11.0,0.0,291.0,190.0,5837.0,97514.0

In [6]:
data_test.head(5)

,TCGA ID,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,...,hsa-mir-941-5,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
0,TCGA-3C-AAAU,115462,114669,116726,238725,2478,4037,13738,17563,17717,...,0,54,2,19,41,0,1195,512,1195,456128
1,TCGA-3C-AALI,62775,62882,63235,142394,4584,3159,3326,19924,20251,...,0,50,0,4,7,0,367,520,1439,77213
2,TCGA-3C-AALJ,97114,96216,97758,95976,5319,5519,23528,51303,53044,...,0,32,0,7,13,0,865,1024,1666,290374
3,TCGA-3C-AALK,73037,73538,73908,157838,17588,2045,7941,19413,19839,...,0,21,0,21,10,0,451,254,6292,146277
4,TCGA-4H-AAAK,83721,83673,84198,127109,18615,2039,9593,23641,24052,...,0,11,0,7,5,0,116,196,6064,146347

In [7]:
data_train = data_train.rename(columns={"TCGA ID": "tcga_id"})
data_test = data_test.rename(columns={"TCGA ID": "tcga_id"})

In [8]:
mirna_all_brca = data_train.append(data_test, sort=True)
mirna_all_tcga = mirna_all_brca.append(mirna_raw_no_brca, sort=True)
mirna_all_tcga.drop(["gdc_id"], inplace=True, axis=1)

In [9]:
common = mirna_all_tcga.loc[:, (mirna_all_tcga != 0).any(axis=0)].columns
print("Gene set has {} genes non-zero accross all miRNA samples".format(len(common)-1)) # -1 because of TCGA ID

Gene set has 1771 genes non-zero accross all miRNA samples

In [10]:
data_train[common].head(5)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,tcga_id
0,38052.0,38123.0,38425.0,211210.0,24521.0,3190.0,1396.0,6307.0,6541.0,2812.0,...,20.0,1.0,42.0,5.0,0.0,108.0,144.0,9380.0,134478.0,TCGA-A1-A0SB
1,66099.0,65545.0,65807.0,200725.0,10654.0,2104.0,5803.0,18967.0,19066.0,2029.0,...,12.0,1.0,7.0,9.0,0.0,79.0,198.0,4445.0,198312.0,TCGA-A1-A0SD
2,20084.0,19857.0,20121.0,105277.0,10004.0,994.0,1737.0,4722.0,4596.0,903.0,...,6.0,0.0,13.0,10.0,0.0,77.0,98.0,3373.0,80274.0,TCGA-A1-A0SE
3,51958.0,52013.0,52333.0,152030.0,28994.0,2182.0,4550.0,15369.0,15688.0,2414.0,...,40.0,0.0,9.0,14.0,0.0,349.0,307.0,14897.0,286445.0,TCGA-A1-A0SF
4,10068.0,10131.0,10213.0,57725.0,9082.0,798.0,1104.0,1864.0,1842.0,248.0,...,2.0,0.0,4.0,0.0,0.0,15.0,52.0,2157.0,55433.0,TCGA-A1-A0SH

In [11]:
data_test[common].head(5)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,tcga_id
0,115462,114669,116726,238725,2478,4037,13738,17563,17717,3754,...,54,2,19,41,0,1195,512,1195,456128,TCGA-3C-AAAU
1,62775,62882,63235,142394,4584,3159,3326,19924,20251,2142,...,50,0,4,7,0,367,520,1439,77213,TCGA-3C-AALI
2,97114,96216,97758,95976,5319,5519,23528,51303,53044,5282,...,32,0,7,13,0,865,1024,1666,290374,TCGA-3C-AALJ
3,73037,73538,73908,157838,17588,2045,7941,19413,19839,2170,...,21,0,21,10,0,451,254,6292,146277,TCGA-3C-AALK
4,83721,83673,84198,127109,18615,2039,9593,23641,24052,1908,...,11,0,7,5,0,116,196,6064,146347,TCGA-4H-AAAK

In [12]:
data_train_common = data_train[common]
data_test_common = data_test[common]

### Get brca labels from train and test set

In [13]:
brca_train = pd.read_csv("../data/TCGA_source/TCGA817-FULL_SET.csv")
brca_test = pd.read_csv("../data/TCGA_source/PAN CANCER ATLAS TCGA- FINAL TEST SET-236.csv")

In [14]:
brca_train = brca_train[["TCGA_ID", "Ciriello_subtype"]]
brca_test = brca_test[["TCGA_ID", "expert_PAM50_subtypes"]]

In [15]:
brca_train.head(5)

           TCGA_ID Ciriello_subtype
0  TCGA-A1-A0SK-01            Basal
1     TCGA-A2-A04P            Basal
2     TCGA-A2-A0CM            Basal
3     TCGA-A2-A0D2            Basal
4     TCGA-A2-A0ST            Basal

In [16]:
data_train_common = data_train_common.rename(columns={"tcga_id": "TCGA_ID"})
data_test_common= data_test_common.rename(columns={"tcga_id": "TCGA_ID"})

In [17]:
mirna_train_labeled = pd.merge(data_train_common, brca_train, on="TCGA_ID")
mirna_test_labeled = pd.merge(data_test_common, brca_test, on="TCGA_ID")

In [18]:
print(mirna_train_labeled.shape)
mirna_train_labeled.head()

(816, 1773)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,TCGA_ID,Ciriello_subtype
0,38052.0,38123.0,38425.0,211210.0,24521.0,3190.0,1396.0,6307.0,6541.0,2812.0,...,1.0,42.0,5.0,0.0,108.0,144.0,9380.0,134478.0,TCGA-A1-A0SB,Normal
1,66099.0,65545.0,65807.0,200725.0,10654.0,2104.0,5803.0,18967.0,19066.0,2029.0,...,1.0,7.0,9.0,0.0,79.0,198.0,4445.0,198312.0,TCGA-A1-A0SD,LumA
2,20084.0,19857.0,20121.0,105277.0,10004.0,994.0,1737.0,4722.0,4596.0,903.0,...,0.0,13.0,10.0,0.0,77.0,98.0,3373.0,80274.0,TCGA-A1-A0SE,LumA
3,51958.0,52013.0,52333.0,152030.0,28994.0,2182.0,4550.0,15369.0,15688.0,2414.0,...,0.0,9.0,14.0,0.0,349.0,307.0,14897.0,286445.0,TCGA-A1-A0SF,LumA
4,10068.0,10131.0,10213.0,57725.0,9082.0,798.0,1104.0,1864.0,1842.0,248.0,...,0.0,4.0,0.0,0.0,15.0,52.0,2157.0,55433.0,TCGA-A1-A0SH,LumA

In [19]:
print(mirna_test_labeled.shape)
mirna_test_labeled.head()

(219, 1773)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,TCGA_ID,expert_PAM50_subtypes
0,115462,114669,116726,238725,2478,4037,13738,17563,17717,3754,...,2,19,41,0,1195,512,1195,456128,TCGA-3C-AAAU,LumA
1,62775,62882,63235,142394,4584,3159,3326,19924,20251,2142,...,0,4,7,0,367,520,1439,77213,TCGA-3C-AALI,Her2
2,97114,96216,97758,95976,5319,5519,23528,51303,53044,5282,...,0,7,13,0,865,1024,1666,290374,TCGA-3C-AALJ,LumB
3,73037,73538,73908,157838,17588,2045,7941,19413,19839,2170,...,0,21,10,0,451,254,6292,146277,TCGA-3C-AALK,LumA
4,83721,83673,84198,127109,18615,2039,9593,23641,24052,1908,...,0,7,5,0,116,196,6064,146347,TCGA-4H-AAAK,LumA

## Sanity check with some samples to see if the join was done properly

In [20]:
print("ON THE TRAINING SET \n")

print(brca_train[brca_train.TCGA_ID=="TCGA-MS-A51U"])
print(brca_train[brca_train.TCGA_ID=="TCGA-OL-A66I"])
print(brca_train[brca_train.TCGA_ID=="TCGA-OL-A66K"])
print(brca_train[brca_train.TCGA_ID=="TCGA-A1-A0SB"])

print("\nON THE TEST SET \n")
print(brca_test[brca_test.TCGA_ID=="TCGA-WT-AB44"])
print(brca_test[brca_test.TCGA_ID=="TCGA-XX-A89A"])
print(brca_test[brca_test.TCGA_ID=="TCGA-Z7-A8R6"])
print(brca_test[brca_test.TCGA_ID=="TCGA-3C-AALI"])

print("\nON THE TRAINING SET \n")

print(mirna_train_labeled[mirna_train_labeled.TCGA_ID=="TCGA-MS-A51U"].Ciriello_subtype)
print(mirna_train_labeled[mirna_train_labeled.TCGA_ID=="TCGA-OL-A66I"].Ciriello_subtype)
print(mirna_train_labeled[mirna_train_labeled.TCGA_ID=="TCGA-OL-A66K"].Ciriello_subtype)
print(mirna_train_labeled[mirna_train_labeled.TCGA_ID=="TCGA-A1-A0SB"].Ciriello_subtype)

print("\nON THE TEST SET \n")
print(mirna_test_labeled[mirna_test_labeled.TCGA_ID=="TCGA-WT-AB44"].expert_PAM50_subtypes)
print(mirna_test_labeled[mirna_test_labeled.TCGA_ID=="TCGA-XX-A89A"].expert_PAM50_subtypes)
print(mirna_test_labeled[mirna_test_labeled.TCGA_ID=="TCGA-Z7-A8R6"].expert_PAM50_subtypes)
print(mirna_test_labeled[mirna_test_labeled.TCGA_ID=="TCGA-3C-AALI"].expert_PAM50_subtypes)

ON THE TRAINING SET

          TCGA_ID Ciriello_subtype
682  TCGA-MS-A51U             LumA
          TCGA_ID Ciriello_subtype
305  TCGA-OL-A66I            Basal
          TCGA_ID Ciriello_subtype
685  TCGA-OL-A66K             LumA
          TCGA_ID Ciriello_subtype
812  TCGA-A1-A0SB           Normal

ON THE TEST SET

          TCGA_ID expert_PAM50_subtypes
231  TCGA-WT-AB44                  LumA
          TCGA_ID expert_PAM50_subtypes
233  TCGA-XX-A89A                  LumA
          TCGA_ID expert_PAM50_subtypes
235  TCGA-Z7-A8R6                  LumB
        TCGA_ID expert_PAM50_subtypes
1  TCGA-3C-AALI                  Her2

ON THE TRAINING SET

811    LumA
Name: Ciriello_subtype, dtype: object
813    Basal
Name: Ciriello_subtype, dtype: object
815    LumA
Name: Ciriello_subtype, dtype: object
0    Normal
Name: Ciriello_subtype, dtype: object

ON THE TEST SET

214    LumA
Name: expert_PAM50_subtypes, dtype: object
216    LumA
Name: expert_PAM50_subtypes, dtype: object
218    LumB
Name: expert_PAM50_subtypes, dtype: object
1    Her2
Name: expert_PAM50_subtypes, dtype: object

## Normalize the data

#### Taking the labels away

In [21]:
y_train = mirna_train_labeled.Ciriello_subtype
id_train = mirna_train_labeled.TCGA_ID
mirna_train_labeled.drop(["Ciriello_subtype", "TCGA_ID"], axis=1, inplace=True)
y_test = mirna_test_labeled.expert_PAM50_subtypes
id_test = mirna_test_labeled.TCGA_ID
mirna_test_labeled.drop(["expert_PAM50_subtypes", "TCGA_ID"], axis=1, inplace=True)

#### Computing TPM and log(x+1) norm

In [22]:
mirna_train_labeled_1000000 = mirna_train_labeled*1000*1000
mirna_train_labeled_norm = (mirna_train_labeled_1000000).div(mirna_train_labeled.sum(axis=1), axis=0)

mirna_test_labeled_1000000 = mirna_test_labeled*1000*1000
mirna_test_labeled_norm = (mirna_test_labeled_1000000).div(mirna_test_labeled.sum(axis=1), axis=0)

In [23]:
mirna_train_labeled_log_norm = mirna_train_labeled_norm.apply(lambda x: np.log2(x+1))
mirna_test_labeled_log_norm = mirna_test_labeled_norm.apply(lambda x: np.log2(x+1))

In [24]:
mirna_train_labeled_log_norm.head(5)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-941-1,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
0,14.030370,14.033059,14.044442,16.502933,13.396463,10.454968,9.264031,11.437857,11.490396,10.273146,...,0.0,3.291905,0.525771,4.282995,1.677401,0.0,5.599551,6.007131,12.010321,15.851634
1,14.030390,14.018248,14.024003,15.632852,11.397605,9.059588,10.521528,12.229467,12.236976,9.007322,...,0.0,2.013493,0.325539,1.470888,1.712899,0.0,4.392142,5.675821,10.137212,15.615404
2,13.034042,13.017645,13.036697,15.423974,12.028745,8.700684,9.504480,10.946024,10.907025,8.562514,...,0.0,1.809602,0.000000,2.684479,2.371771,0.0,5.051083,5.389651,10.460951,15.032799
3,12.784891,12.786417,12.795264,14.333694,11.943461,8.215924,9.273612,11.028055,11.057679,8.361232,...,0.0,2.685329,0.000000,1.152029,1.536697,0.0,5.596833,5.415917,10.983075,15.247564
4,12.962609,12.971607,12.983236,15.481879,12.813933,9.307462,9.775111,10.530101,10.512984,7.626455,...,0.0,1.370444,0.000000,2.060394,0.000000,0.0,3.688321,5.399958,10.740593,15.423429

In [25]:
mirna_test_labeled_log_norm.head(5)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-941-1,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
0,13.514627,13.504685,13.530334,14.562495,7.978139,8.680035,10.444366,10.798507,10.811095,8.575445,...,0.0,2.694435,0.266281,1.548775,2.366092,0.0,6.932103,5.724983,6.932103,15.496556
1,13.328474,13.330931,13.339006,14.510022,9.554742,9.018468,9.092649,11.673093,11.696572,8.459279,...,0.0,3.200443,0.000000,0.727173,1.102280,0.0,5.933862,6.429633,7.887388,13.627101
2,13.432159,13.418758,13.441694,13.415155,9.243957,9.297123,11.387266,12.511639,12.559778,9.233903,...,0.0,2.214673,0.000000,0.845298,1.310029,0.0,6.635774,6.876964,7.574399,15.012233
3,13.550832,13.560693,13.567933,14.662512,11.497175,8.396544,10.350582,11.639559,11.670866,8.481892,...,0.0,2.153877,0.000000,2.153877,1.402156,0.0,6.230695,5.417220,10.015070,14.552775
4,13.831441,13.830614,13.839637,14.433812,11.662663,8.475744,10.706670,12.007394,12.032254,8.380222,...,0.0,1.543579,0.000000,1.149743,0.903448,0.0,4.405742,5.134419,10.045460,14.637130

In [26]:
mirna_train_final = mirna_train_labeled_log_norm
mirna_test_final = mirna_test_labeled_log_norm

In [27]:
mirna_train_final_subtype = pd.concat([y_train, mirna_train_final], axis=1)
mirna_test_final_subtype = pd.concat([y_test, mirna_test_final], axis=1)

In [28]:
mirna_train_final_subtype.head(5)

,Ciriello_subtype,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,...,hsa-mir-941-1,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
0,Normal,14.030370,14.033059,14.044442,16.502933,13.396463,10.454968,9.264031,11.437857,11.490396,...,0.0,3.291905,0.525771,4.282995,1.677401,0.0,5.599551,6.007131,12.010321,15.851634
1,LumA,14.030390,14.018248,14.024003,15.632852,11.397605,9.059588,10.521528,12.229467,12.236976,...,0.0,2.013493,0.325539,1.470888,1.712899,0.0,4.392142,5.675821,10.137212,15.615404
2,LumA,13.034042,13.017645,13.036697,15.423974,12.028745,8.700684,9.504480,10.946024,10.907025,...,0.0,1.809602,0.000000,2.684479,2.371771,0.0,5.051083,5.389651,10.460951,15.032799
3,LumA,12.784891,12.786417,12.795264,14.333694,11.943461,8.215924,9.273612,11.028055,11.057679,...,0.0,2.685329,0.000000,1.152029,1.536697,0.0,5.596833,5.415917,10.983075,15.247564
4,LumA,12.962609,12.971607,12.983236,15.481879,12.813933,9.307462,9.775111,10.530101,10.512984,...,0.0,1.370444,0.000000,2.060394,0.000000,0.0,3.688321,5.399958,10.740593,15.423429

In [29]:
mirna_test_final_subtype.head(5)

,expert_PAM50_subtypes,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,...,hsa-mir-941-1,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b
0,LumA,13.514627,13.504685,13.530334,14.562495,7.978139,8.680035,10.444366,10.798507,10.811095,...,0.0,2.694435,0.266281,1.548775,2.366092,0.0,6.932103,5.724983,6.932103,15.496556
1,Her2,13.328474,13.330931,13.339006,14.510022,9.554742,9.018468,9.092649,11.673093,11.696572,...,0.0,3.200443,0.000000,0.727173,1.102280,0.0,5.933862,6.429633,7.887388,13.627101
2,LumB,13.432159,13.418758,13.441694,13.415155,9.243957,9.297123,11.387266,12.511639,12.559778,...,0.0,2.214673,0.000000,0.845298,1.310029,0.0,6.635774,6.876964,7.574399,15.012233
3,LumA,13.550832,13.560693,13.567933,14.662512,11.497175,8.396544,10.350582,11.639559,11.670866,...,0.0,2.153877,0.000000,2.153877,1.402156,0.0,6.230695,5.417220,10.015070,14.552775
4,LumA,13.831441,13.830614,13.839637,14.433812,11.662663,8.475744,10.706670,12.007394,12.032254,...,0.0,1.543579,0.000000,1.149743,0.903448,0.0,4.405742,5.134419,10.045460,14.637130

In [30]:
print(mirna_train_final_subtype.shape)
print(mirna_test_final_subtype.shape)

(816, 1772)
(219, 1772)

In [32]:
mirna_train_final_meta = pd.concat([id_train, mirna_train_final_subtype], axis=1)
mirna_test_final_meta = pd.concat([id_test, mirna_test_final_subtype], axis=1)

In [34]:
print(mirna_train_final_meta.shape)
print(mirna_test_final_meta.shape)

(816, 1773)
(219, 1773)

In [31]:
mirna_train_final_subtype.to_csv("../data/miRNA_filtered_norm_scaled_train.csv", index=False)
mirna_test_final_subtype.to_csv("../data/miRNA_filtered_norm_scaled_test.csv", index=False)

In [35]:
mirna_train_final_meta.to_csv("../data/miRNA_filtered_norm_scaled_meta_train.csv", index=False)
mirna_test_final_meta.to_csv("../data/miRNA_filtered_norm_scaled_meta_test.csv", index=False)